{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Registro</h2>

        <!-- Formulario -->
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                <div class="invalid-feedback d-block">
                    {{ field.errors|striptags }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}